* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e7eb;
}

.first-part {
    background-color: #1f2937;
    width: 100%;
}

.header {
    padding: 8px;
    width:70%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.logo {
    width:150px;
}

.header-links {
    list-style-type: none;
    display: flex;
}

.header-links a {
    color: #e5e7eb;
    text-decoration: none;
}

.header-links li {
    margin-left: 16px;
}


.intro {
    width:70%;
    height: 500px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 64px;
}

.intro-left > * {
    margin-bottom: 16px;
}

.intro h1 {
    font-size: 38px;
    font-weight: 900;
    color: white;
}

button {
    background-color: #3882f6;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
}

.intro-image img {
    width:550px;
}

.info {
    width:70%;
    height: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.info h2 {
    color: black;
    font-size: 38px;
    font-weight: 800;
}

.info-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
}

.info-item{
    max-width: 250px;
    height: 300px;
    font-size: 18px;
    color:black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-item .info-text {
    max-width: 205px;
}

.info-image img {
    border-radius: 5%;
    border: 5px solid #3882f6;
    width: 200px;
    height: 200px;
    margin-bottom: 16px;
}


.quote-part {
    background-color: #e5e7eb;
    width:100%
}
.quote {
    height:400px;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
}
.quote-origin {
    align-self: flex-end;
    color: black;
    font-size: 24px;
    font-weight: bolder;
}

.signup {
    height:400px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-box {
    padding: 0px 128px;
    width: 700px;
    height: 150px;
    border-radius: 12px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
}

.signup-title {
    font-size: 24px;
    color: white;
}

.signup-box button {
    border: 2px solid white;
}

.last-part {
    background-color: #1f2937;
    width: 100%;
}

.footer {
    height: 70px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}